/* Encabezado */
.encabezado{
    background-image: url(../img/arriba.jpg);
    background-position: center;
    background-size: cover;
}
.hv-50{
    height: 50vmin;
}
/* Imagenes figura rombo */
.card-img-filter{
    filter:opacity(0.7);
}
.card {
    transition-duration: 6s;
    clip-path: polygon(
        50% 0,        
        100% 0
        100% 50%,
        50% 100%,
        50% 100%,
        0 100%,
        0 50%,
        0 0
        );
}
.card-effect:hover .card {
    clip-path: polygon(
        50% 0,
        50% 0,
        100% 50%,
        100% 50%,
        50% 100%,
        50% 100%,
        0 50%,
        0 50%
    );
}
.card-effect:hover .card-img-overlay{
    transform: scale(0.7);
}
.card-img-overlay{
    transition-duration: 0.6s;
}
/* estilos galeria diseño */
.ola {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.galeria {
	display: flex;
	width: 88%;
	margin: auto;
	justify-content: space-around;
	flex-wrap: wrap;
	z-index: 1;
}

.galeria .foto {
	width: 400px;
	height: 400px;
	position: relative;
	margin-bottom: 35px;
	border-radius: 5px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
	transition: 0.6s ease;
}
.galeria .foto:hover {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.foto img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	border-radius: 5px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top, #cfd9df96 0%, #e2ebf0a1 100%);
	width: 100%;
	height: 0;
	transition: 0.55s ease;
	overflow: hidden;
}
.overlay h2 {
	color: rgb(61, 54, 48);
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.foto:hover .overlay {
	height: 100%;
	cursor: pointer;
	border-radius: 5px;
}


.contenedor-modal.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(211, 211, 211, 0.459);
}

/* menu fondo parrafo*/
.otro {
    background-color: rgba(8, 5, 0, 0.247);
    background-position: left;
    background-size: cover;
}
/* menu*/
nav.navbar{
    font-family: 'Fredoka One', cursive;
    
}
.nav-item:hover{
    font-size: 18px;
}

/* Footer*/

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Fredoka One', cursive;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}
.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover{
    opacity: 1;
}

.pie-pagina{
    width: 100%;
    background-color: #00060c;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-2{
    background-color: #815f16;
    font-family: 'Fredoka One', cursive;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.social-links{
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-repeat: no-repeat;
    background-size: 5rem 5rem;
}
.bi{
    color: white;
}

